<div id="preamble">
  <%= content %>
</div>
<% if (document.attr? 'toc-placement', 'preamble') && document.sections? && (document.attr? 'toc') %>
  <div class="toc">
  <%= document.converter.convert document, 'outline' %>
  </div>
<% end %>
