@import url('http://fonts.cdnfonts.com/css/open-sans')
@import url('http://fonts.cdnfonts.com/css/inconsolata-2')

$text-font: 'Open Sans', sans-serif
$code-font: 'Inconsolata', monospace

body
  display: grid
  font-family: $text-font
  align-items: start

  > *
    grid-column: content

h1
  text-align: center

code
  font-family: $code-font
  font-size: 90%

.indent-0
  margin-left: 0em
.indent-1
  margin-left: 2em
.indent-2
  margin-left: 4em

h2
  margin-top: 0.5em
  margin-bottom: 1em
h3
  margin-top: 0em
  margin-bottom: 0em
p
  margin-bottom: 0px
  margin-top: 0px

.article
  display: contents

  .heading
    display: contents
    grid-column: left / end
  .title
    grid-column: content
  .date
    grid-column: left
    justify-self: end
    color: #606060
  .attributes
    grid-column: left
    justify-self: end
    color: #606060
  .summary
    grid-column: content
    &::after
      display: block
      height: 1.5em
      width: 100%
      content: ''
      position: relative
      grid-column: content

.preamble
  margin-bottom: 1.5em

div.nav_footer
  display: flex
  justify-content: space-between
  margin-bottom: 1.5em

  .prev
    text-align: left
  .up
    text-align: center
  .next
    text-align: right

@media (max-width: 810px)
  body
    grid-template-columns: [left] 100px 10px [content] 1fr [end] 0px

  aside
    grid-column: content
    font-size: 80%

  aside p
    color: #404040 !important

@media (min-width: 810px)
  body
    grid-template-columns: 1fr [left] 100px 10px [content] 700px [end]0px 1fr

  aside
    grid-column: content
    font-size: 80%

  aside p
    color: #404040 !important