name: Release

on:
  push:
    branches:
      - release

jobs:
  build:
    uses: ./.github/workflows/middleman.yaml
    with:
      middleman-environment: transactionalblog
    secrets: inherit

  deploy:
    needs: build
    runs-on: ubuntu-20.04
    steps:
    - name: Download Site Artifact
      uses: actions/download-artifact@v3
      with:
        name: site
        path: ./build/

    - name: Publish to Cloudflare Pages
      uses: cloudflare/pages-action@1
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        accountId: ${{ secrets.CF_ACCOUNT_ID }}
        projectName: transactionalblog
        directory: ./build/
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}

